parameters:
    level: 8
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Sylius repositories don't specify generic types in older versions
        - '#with generic interface Sylius\\.*Interface does not specify its types#'
        - '#has parameter \$\w+ with generic interface Sylius\\.*Interface but does not specify its types#'
    excludePaths:
        - tests/bootstrap.php
